.App{
  height: 100vh;
  background-color: #2E4F4F;
  color: #CBE4DE;
}

.clockContainer{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.timeContainer{
  height: 50%;
  width: 33%;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
}

.blur{
  height: 50%;
  width: 3rem;
  position: absolute;
  z-index: 2;
  background-image: linear-gradient(#2E4F4F 0%, #2E4F4F 20%, #00000000 35%, #00000000 65%, #2E4F4F 80% , #2E4F4F 100%);
}

.HourBox{
  height: 4rem;
  width: 3rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tickContainer{
  background-color: #0E8388;
  transform: translateY(var(--trans-value));
}

.tickIndicator{
  height: 4rem;
  width: 3rem;
  border: 1px solid black;
  z-index: 1;
  position: absolute;
  transform: translateY(9rem);
}